<div class="word-card">
  <div class="card-content">
    <h2><a href="/word/{[{w.word}]}">{[{w.word}]}</a></h2>
    <p>{[{w.definition}]}</p>
    <p>{[{w.created}]}</p>
  </div>
  <div class="btn-toggle-actions">
    <i class="fa fa-bars"></i>
  </div>
  <div class="card-actions">
    <button class="btn btn-default btn-delete-word" data-word="{[{w.word}]}"><i class="fa fa-trash"></i></button>
    <button class="btn btn-default btn-rate-word" data-word="{[{w.word}]}"><i class="fa fa-check"></i></button>
  </div>
  <div class="clearfix"></div>
</div>