{{#extend "styles"}}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
{{{css "words-main"}}}
{{/extend}}

<h1>Words List</h1>
<hr>
<div class="word-card-grid">
    <div class="grid-sizer"></div>
    {{#unless words.length}}
        <div class="empty-notice">
            <h2>No words have been added yet!</h2>
            <p class="lead">Start out by adding some new words.</p>
        </div>
    {{else}}
        {{#each words}}
            <div class="grid-item">
                {{>word-card}}
            </div>
        {{/each}}
    {{/unless}}
</div>

{{#extend "scripts"}}
<script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.3.1/masonry.pkgd.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script id="word-card-template" type="text/x-handlebars-template">
<div class="grid-item">
    {{>word-card isTemplate=true}}
</div>
</script>
{{{js "bower_components/jquery-bar-rating/dist/jquery.barrating.min"}}}
{{{js "words-main"}}}
{{/extend}}